[Unit]
Description=Server Service
After=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/root/apis/binder-server/build/server
WorkingDirectory=/root/apis/binder-server

[Install]
WantedBy=multi-user.target
